<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Add Lesson Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body>
	<header class="mb-5 pb-3">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid fw-bold">
				<a class="navbar-brand" href="/">Tech_Annotation</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/trainerHome">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="/createCourse">Add
								Course</a></li>
						<li class="nav-item"><a class="nav-link" href="/addLesson">Add
								Lesson</a></li>
						<li class="nav-item ml-auto"><a class="nav-link"
							href="/courses">Courses</a></li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>


	<main>

		<div class="container">

			<form class="needs-validation" action="/addLesson" novalidate
				method="post">
				<div>
					<p th:text="${addLessonStatus}"></p>
				</div>
				<h1 class="display-1">Add Your Lesson Here!</h1>
				<div class="row mb-3">

					<label for="courseId" class="col-sm-2 col-form-label">Course
						ID</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg"
							id="courseId" name="courseId" placeholder="Example:101" required>
						<div class="invalid-feedback">Please enter CourseId</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="lessonId" class="col-sm-2 col-form-label">Lesson
						ID</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg"
							id="lessonId" name="lessonId" placeholder="Example:1001" required>
						<div class="invalid-feedback">Please enter lesson ID</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="lessonName" class="col-sm-2 col-form-label">Lesson
						Name</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg"
							id="lessonName" name="lessonName" placeholder="Example:DataTypes"
							required>
						<div class="invalid-feedback">Please enter lesson Name</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="lessonTopics" class="col-sm-2 col-form-label">Lesson
						Topics</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg"
							id="lessonTopics" name="lessonTopics"
							placeholder="Example:Typecasting" required>
						<div class="invalid-feedback">Please enter lesson topics</div>
					</div>
				</div>

				<div class="row mb-3">
					<label for="link" class="col-sm-2 col-form-label">Lesson
						Link</label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg" id="link"
							name="link"
							placeholder="Example:https://www.youtube.com/embed/ERDvP0s7ask?si=p51zNmBHCU08pdeV"
							required>
						<div class="invalid-feedback">Please enter embed link only</div>
					</div>
				</div>
				<input class="btn btn-outline-dark" type="submit" value="Add Lesson">
			</form>
		</div>
	</main>
	
	
	
	
	
	<footer class="footer bg-dark">
		<div class="container">
			<span class="text-secondary">Place sticky footer content here.</span>
		</div>
	</footer>
	<!--  -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
</body>
</html>






























