<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Register Page</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{css/style.css}">
</head>
<body class="">

	<header class="mb-5 pb-3">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
			<div class="container-fluid fw-bold">
				<a class="navbar-brand" href="/">Tech_Annotation</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
						<li class="nav-item"><a class="nav-link" href="#">About</a></li>
						<li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
					</ul>
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
						<li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
					</ul>
				</div>
			</div>
		</nav>
	</header>


	<main class="container">
		<div class="container">

			<form class="needs-validation" action="/register" novalidate
				method="post">
				<div>
					<p th:text="${registerFailedMessage}"></p>
				</div>
				<h1 class="display-1">Register Yourself Here!</h1>
				<div class="row mb-3">

					<label for="name" class="col-sm-2 col-form-label">Name </label>
					<div class="col-sm-10">
						<input type="text" class="form-control form-control-lg" id="name"
							name="name" placeholder="example: Jack" required
							autocomplete="name">
						<div class="invalid-feedback">Please enter name</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="email" class="col-sm-2 col-form-label">Email</label>
					<div class="col-sm-10">
						<input type="email" class="form-control form-control-lg"
							id="email" name="email" placeholder="example@company.com"
							required autocomplete="email">
						<div class="invalid-feedback">Please enter email id</div>
					</div>
				</div>
				<div class="row mb-3">
					<label for="password" class="col-sm-2 col-form-label">Password</label>
					<div class="col-sm-10">
						<input type="password" class="form-control form-control-lg"
							id="password" name="password" placeholder="" required
							autocomplete="new-password">
						<div class="invalid-feedback">Please enter password</div>
					</div>
				</div>
				<fieldset class="row mb-3">
					<legend class="col-form-label col-sm-2 pt-0">Role</legend>
					<div class="col-sm-10">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="role"
								id="gridRadios1" value="trainer" required> <label
								class="form-check-label" for="gridRadios1"> Trainer </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="role"
								id="gridRadios2" value="student" required> <label
								class="form-check-label" for="gridRadios2"> Student </label>
						</div>
					</div>
				</fieldset>
				<input class="btn btn-outline-dark" type="submit" value="Register">
			</form>
		</div>

	</main>









	<footer class="footer bg-dark">
		<div class="container">
			<span class="text-secondary">Place sticky footer content here.</span>
		</div>
	</footer>
	<!--  -->
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>
</body>
</html>